<div class="main-container">

  <div class="form-container">
    <h1>New List</h1>
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.submit "Create list", class: "button primary" %>
    <% end %>
  </div>
  <%= link_to "Go back", lists_path, class: "button secondary" %>
</div>
